<!DOCTYPE html>
<html lang="en">

<head>
    <title>Boostrap</title>
    <link rel="stylesheet" href="Ass1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
        <div class="container-fluid">
            
                <img src="jovin_logo.png " height="35px"  class="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Program</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">YouTube</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary ms-md-2">Sign in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="team.jpg " class="d-block mx-lg-auto img-fluid rounded mx-auto mb-4"
                    alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center text-lg-start">About Jovian</h1>
                <p class="lead">At Jovian, we're on a mission to build the world's most highly reputed technical
                    university, and we're building completely online. We offer several beginner friendly courses that
                    are taken by 300,000+ registered users.</p>
                <p class="lead">
                <ol>
                    <li>
                        <a href="https://www.jovian.com/full-stack-developer-bootcamp">
                            Jovian Full Stack Developer Bootcamp
                        </a>
                    </li>
                    <li>
                        <a href="https://www.jovian.com/data-science-bootcamp">
                            Jovian Data Science Bootcamp
                        </a>
                    </li>
                </ol>
                </p>
            </div>
        </div>
    </div>

    <div class="container px-4 mt-4">
        <h2 class="text-center">Job Opportunities</h2>
        
        <div class="d-none d-sm-none d-md-block ">
            <table class="table table-bordered table-striped ">
                <tr class="table-primary text-center">
                    <th rowspan="2">Job Title</th>
                    <th colspan="2">Location</th>
                    <th rowspan="2">Salary</th>
                    <th rowspan="2">Posted On</th>
                </tr>
                <tr class="table-primary text-center">
                    <th>City</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>Frontend Developer</td>
                    <td>Bengaluru</td>
                    <td>India</td>
                    <td>₹12,00,000</td>
                    <td>Mar 3, 2023</td>
                </tr>

                <tr>
                    <td>Full Stack Developer</td>
                    <td>New Delhi</td>
                    <td>India</td>
                    <td>₹15,00,000</td>
                    <td>Feb 1, 2023</td>
                </tr>

                <tr>
                    <td>Data Scientist</td>
                    <td>San Francisco</td>
                    <td>USA</td>
                    <td>$175,000</td>
                    <td>Dec 22, 2022</td>
                </tr>

                <tr>
                    <td>ML Engineer</td>
                    <td colspan="2">Remote</td>
                    <td>$80,000</td>
                    <td>Sep 19, 2022</td>
                </tr>

            </table>
        </div>



        <div class="d-md-none">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Frontend Developer</h5>
                    <h6 class="card-subtitle mb-1 text-body-secondary">Bengaluru ,India - ₹12,00,000</h6>
                    <small class="card-text text-body-secondary">
                        Mar 3, 2023.</small>

                </div>
            </div>
        </div>
        <div>
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Full Stack Developer</h5>
                    <h6 class="card-subtitle mb-1 text-body-secondary">New Delhi ,India - ₹15,00,000</h6>
                    <small class="card-text text-body-secondary">
                        Feb 1, 2023.</small>

                </div>
            </div>
            <div>
                <div class="card my-4">
                    <div class="card-body">
                        <h5 class="card-title">Data Scientis</h5>
                        <h6 class="card-subtitle mb-1 text-body-secondary">San Francisco ,USA - $175,000</h6>
                        <small class="card-text text-body-secondary">
                            Dec 22, 2022.</small>

                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-body">
                        <h5 class="card-title">ML Engineer</h5>
                        <h6 class="card-subtitle mb-1 text-body-secondary">Remote - $80,000</h6>
                        <small class="card-text text-body-secondary">
                            Sep 19, 2022.</small>

                    </div>
                </div>
            </div>
        </div>

        <div class="container px-4 mt-5">
            <h2 class="text-center">Submit Your Application</h2>
            <form id="application-form" action="https://formbold.com/s/3wvKl" method="POST"
                enctype="multipart/form-data" class="col-lg-8 offset-lg-2">

                <div class="mb-3 col-sm-6">
                    <label for="name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" id="name"
                        aria-describedby="namehelp">
                    <div id="name" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="john@gmail.com" id="Email"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3 col-sm-6">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="email" class="form-control" placeholder="+91 123566343" id="Email"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="dob" class="form-label">Date Of Birth</label>
                    <input type="date" class="form-control" placeholder="Enter Date" id="Email"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="position" class="form-label"> Position Applied for</label>
                    <select class="form-select" aria-label="Default Selected example" required>
                        <option value="">Select position</option>
                        <option value="frontend developer">Frontend Developer</option>
                        <option value="full stack developer">Full Stack Developer</option>
                        <option value="data scientist">Data Scientist</option>
                        <option value="ml engineer ">ML Engineer</option>
                    </select>
                </div>

                <div class="mb-3 col-sm-6">
                    <label for="phone" class="form-label">upload Resume</label>
                    <input type="File" class="form-control" id="Resume" name="Resume" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3">
                    <label for="coverletter" class="form-label">Cover Letter</label><br>
                    <textarea id="coverletter" class="form-control" name="coverletter" rows="5"
                        placeholder="Explain what makes you suitable for the job.."></textarea>
                </div>

                <div class="mb-3 form-check">
                    <label for="terms">
                        <input type="checkbox" class="form-check-input" id="terms" name="terms" required>
                        I agree to the terms and conditions
                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">
                        Submit Application
                    </button>
                </div>
            </form>

        </div>


        <div class="container">
            <footer class=" py-3 my-4 ">
                <ul class="nav justify-content-center border-top pt-3  mb-3">
                    <li class="nav item">
                        <a href="#" class="nav-link px-2 text-body-secondary">
                            Courses
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-body-secondary">
                            Programs
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-body-secondary">
                            YouTube
                        </a>
                    </li>
                </ul>
                <p class="text-center text-body-secondary">© 2023, Jovian</p>
            </footer>
        </div>
</body>

</html>